
  <div class="topnav">
    <ul >

    <li><a href=""  style=" font-weight: bold; font-size: large;">Welcome! User</a></li>
    <li style="float: right; padding-right: 10px;">
      <button type="button" class="button"  style="float: right; padding-right: 20px; height:50px" >LogOut </button>
    </li>

    </ul>
  </div>

      <div class="row">
        <div class="main">
          <div class="card">

            <form method="post" action="result.jsp">

                <div class="container">

                  <table >
                  <tr>
                    <td></td>
                    <td > <button type="button" class="btn"  style="text-align: center;">Place SellRequest </button></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td > <button type="button" class="btn"  style="text-align: center;">View Sold Crop History </button></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td > <button type="button" class="btn"  style="text-align: center;">View Market Place</button></td>
                  </tr>
                </table>
                 </div>
              </form>
          </div>
        </div>
      </div>

