
<div class="container-sm mt-3">
  <div class="row">
    <div class="col text-center heading">
    Welcome to home page
    </div>
  </div>

  <table class="table mt-5 text-center">
    <thead>
      <tr>
        <th scope="col">Crop type</th>
        <th scope="col">Crop Name</th>
        <th scope="col">Base price</th>
        <th scope="col">Current bid</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Food crops</td>
        <td>Rice</td>
        <td>100</td>
        <td>150</td>
      </tr>
      <tr>
        <td scope="row">Cash Crops</td>
        <td>Sugarcane</td>
        <td>200</td>
        <td>250</td>
      </tr>
      <tr>
        <td scope="row">Horticulture crops</td>
        <td >tomato</td>
        <td>50</td>
        <td>100</td>
      </tr>
    </tbody>
  </table>
</div>
