<div class="topnav">
  <ul >

  <li><a href=""  style=" font-weight: bold; font-size: large;">Market Place</a></li>

  </ul>
</div>

    <div class="row">
      <div class="main">
        <div class="card">

          <form method="post" action="result.jsp">

            <div class="card">

              <h4 style="text-align: left;"><u>Listing</u></h4>
              <div class="card" style="padding-right: 700px;">
              <table>

                <tr>
                  <td>Crop Type</td>
                  <td><input type="text"/> </td>
                </tr>
                <tr>
                  <td>Crop Name</td>
                  <td><input type="text"/> </td>
                </tr>
                <tr>
                  <td>Base Price</td>
                  <td><input type="text"/> </td>
                </tr>

                </table>
              </div>
              <div class="car">
                <table style="float: left; ">

                  <tr>
                    <td style="font-weight:bold;"> <u> Current Bid</u></td>
                    <td><input type="text"/> </td>
                  </tr>
                  <tr>


                  </table>

              </div>
              <h4 style="text-align: left;"><u>Previous Bids</u></h4>
              <div class="card" style="padding-right: 700px;">
                <table style="float: left; ">

                  <tr>
                    <td><input type="text"/> </td>
                  </tr>
                  <tr>
                    <td><input type="text"/> </td>
                  </tr>

                  </table>
              </div>
            </div>
         </form>
        </div>
      </div>
    </div>
