<div class="topnav">
  <ul >

  <li><a href=""  style=" font-weight: bold; font-size: large;">Your Sold-History</a></li>

  </ul>
</div>

    <div class="row">
      <div class="main">
        <div class="card">

          <form method="post" action="result.jsp">




            <div class="card">
              <!-- <h4 style="text-align: left;"><u> Fill below details to continue placing request</u></h4> -->
              <table class="table table-striped">
                <thead style="width: fit-content;">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Crop Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">MSP</th>
                    <th scope="col">Sold Price</th>
                    <th scope="col">Tolal Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

               </div>
               <div >
                <p>Click <a href=""> here </a>to go back</p>

              </div>






            </form>
        </div>
      </div>
    </div>
